{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://dennystoursandtravels.in/static/home/assets/img/dennyspng%20(1).png" rel="icon" />
<title>Denny's Tours & Travels</title>
<meta name="author" content="harnishdesign.net">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>

<!-- Web Fonts
======================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>

<!-- Stylesheet
======================= -->
<link rel="stylesheet" type="text/css" href="{% static 'email_templates/vendor/bootstrap/css/bootstrap.min.css' %} "/>
<link rel="stylesheet" type="text/css" href="{% static 'email_templates/vendor/font-awesome/css/all.min.css' %} "/>
<link rel="stylesheet" type="text/css" href="{% static 'email_templates/css/stylesheet.css' %} "/>

</head>
<body>
  

<!-- Container -->
<div class="container-fluid invoice-container"> 

  <div class="text-center">
    <div class="btn-group btn-group-sm d-print-none"> 
      <a style="width: 100px;" href="#" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-eye"></i>View</a>
      {% comment %} <a href="#" class="btn btn-light border text-black-50 shadow-none" ><i class="fa fa-arrow-left"></i> Back</a> 
      <a style="width: 100px;" href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-print"></i> Print</a> {% endcomment %}
       <!-- <a href="" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-download"></i> Download</a>  -->
      </div>
  </div>


  <!-- Header -->
  <header>
    <div class="row align-items-center">
      <div class="col-sm-7 text-center text-sm-start mb-3 mb-sm-0"> <img id="logo" src="https://dennystoursandtravels.in/static/home/assets/img/dennyspng%20(1).png" style="height: 60px;width: 100px;"  title="Denny's Tours & Travels" alt="Denny's Tours & Travels" /> </div>
      <div class="col-sm-5 text-center text-sm-end">
        <h4 class="mb-0">Duty Slip</h4>
        <!-- <p class="mb-0">Invoice Number - 16835</p> -->
      </div>
    </div>
    <hr>
  </header>
  <!-- Main Content -->
  <main>

    <!-- basic details -->
    <div class="row">
      <div class="col">
        <strong>Passenger : <span style="font-weight: normal;">{{trip_details_db.guest_name|title}}</span> </strong><br>
        <strong>Date : <span style="font-weight: normal;">{% now "d/m/Y" %}</span> </strong><br>
        <strong>Reporting address : <span style="font-weight: normal;">{{trip_details_db.reporting_address|title}}</span> </strong><br>
        <strong>Reporting date : <span style="font-weight: normal;">{{trip_details_db.start_date}}</span> </strong><br>
        <strong>Vehicle type : <span style="font-weight: normal;">{{trip_details_db.vehicle|title}}</span> </strong>
          
      </div>
      <div class="col">
        <strong>Driver : <span style="font-weight: normal;">{{trip_details_db.driver_name|title}}</span> </strong><br>
        <strong>Booking id : 
          {% if trip_details_db.booking_id %}
          <span style="font-weight: normal;">{{trip_details_db.booking_id|title}}</span>
          {% else %}
          <span style="font-weight: normal;">Nill</span>
          {% endif %}
        </strong><br>
        <strong>Releasing Address : <span style="font-weight: normal;">{{trip_details_db.releasing_address}}</span> </strong><br>
        <strong>Releasing date : <span style="font-weight: normal;">{{trip_details_db.end_date}}</span> </strong><br>
        <strong>Vehicle Number: <span style="font-weight: normal;">{{trip_details_db.vehicle_number|capfirst}}</span> </strong>
      </div>
    </div>
    <br>

  
    {% comment %} <!-- old basic details -->
    <div>
      <div style="display: flex;justify-content:space-between;">
        <strong>Passenger : <span style="font-weight: normal;">{{trip_details_db.guest_name|title}}</span> </strong>
        <strong>Driver : <span style="font-weight: normal;">{{trip_details_db.driver_name|title}}</span> </strong>
      </div>
      <div style="display: flex;justify-content:space-between;">
        <strong>Date : <span style="font-weight: normal;">{% now "d/m/Y" %}</span> </strong>
        <strong>Booking id : 
          {% if trip_details_db.booking_id %}
          <span style="font-weight: normal;">{{trip_details_db.booking_id|title}}</span>
          {% else %}
          <span style="font-weight: normal;">Nill</span>
          {% endif %}
        </strong>
      </div>
      <div style="display: flex;justify-content:space-between;">
        <strong>Reporting address : <span style="font-weight: normal;">{{trip_details_db.reporting_address|title}}</span> </strong>
        <strong>Releasing Address : <span style="font-weight: normal;">{{trip_details_db.releasing_address}}</span> </strong>
      </div>
      <div style="display: flex;justify-content:space-between;">
        <strong>Reporting date : <span style="font-weight: normal;">{{trip_details_db.start_date}}</span> </strong>
        <strong>Releasing date : <span style="font-weight: normal;">{{trip_details_db.end_date}}</span> </strong>
      </div>
      <div style="display: flex;justify-content:space-between;">
        <strong>Vehicle type : <span style="font-weight: normal;">{{trip_details_db.vehicle|title}}</span> </strong>
        <strong>Vehicle Number: <span style="font-weight: normal;">{{trip_details_db.vehicle_number|capfirst}}</span> </strong>
      </div>
    </div> {% endcomment %}

    <!-- Duty Slip -->
    {% comment %} <h4 class="text-4 mt-2" style="text-align: center;">Duty Slip</h4> {% endcomment %}
    <!-- table-1 -->
    <div class="table-responsive">
      <table class="table table-bordered text-1 table-sm">
        <thead>
          <tr>
            <th rowspan="2">Date</th>
            <th colspan="2">Start</th>
            <th colspan="2">End</th>
            <th colspan="2">Total</th>
            <th rowspan="2">Driver Signature</th>
          </tr>
          <tr>
            <th>Kilometers</th>
            <th>time</th>
            <th>Kilometers</th>
            <th>time</th>
            <th>Kilometers</th>
            <th>time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{trip_details_db.start_date}}</td>
            <td>{{trip_details_db.start_km}}</td>
            <td>{{trip_details_db.start_time}}</td>
            <td>{{trip_details_db.end_km}}</td>
            <td>{{trip_details_db.end_time}}</td>
            <td>{{trip_details_db.total_km}}	</td>
            <td>{{trip_details_db.total_time}}</td>
            <td><img id="logo" src="{{trip_details_db.driver_signature.url}}" style="height: 50px;width: 90px;"  title="driver_signature" alt="driver_signature" /></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- table-2 -->
    <div class="table-responsive">
      <table class="table table-bordered text-1 table-sm">
        <thead>
          <tr>
            <th>Date</th>
            <th>Reporting Km</th>
            <th>Reporting Time</th>
            <th>Releasing Km</th>
            <th>Releasing Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{trip_details_db.end_date}}</td>
            <td>{{trip_details_db.start_km}}</td>
            <td>{{trip_details_db.start_time}}</td>
            <td>{{trip_details_db.end_km}}</td>
            <td>{{trip_details_db.end_time}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- table-3 -->
    <div class="table-responsive">
      <table class="table table-bordered text-1 table-sm">
        <thead>
          <tr>
            <th >Remark</th>
            <th >Guest Signature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if trip_details_db.remark %}
            <td>{{trip_details_db.remark}}</td>
            {% else %}
            <td>Nill</td>
            {% endif %}
            <td><img id="logo" src="{{trip_details_db.guest_signature.url}}" style="height: 50px;width: 90px;"  title="guest_signature" alt="guest_signature" /></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- table-4 -->
    <div class="table-responsive">
      <table class="table table-bordered text-1 table-sm">
        <thead>
          <tr>
            <th>Route Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{trip_details_db.all_routes}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </main>
  <!-- Footer -->
  <footer class="text-center">
    <hr>


    <p>
      <strong>Denny's Tours & Travels</strong><br>
      <i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>Divya Enclave, MG Road, Mangalore 575003<br>
      <i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>Dennys tours and Travels Thekkilakkattu Building, Parathode Idukki<br>
      <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;8884725699,
      8095275699&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; travelsdennis@gmail.com
    </p>
    <hr>
    <!-- <p class="text-1"><strong>NOTE :</strong> This is computer generated receipt and does not require physical signature.</p> -->
    <div class="btn-group btn-group-sm d-print-none"> 
      <a style="width: 100px;" href="#" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-eye"></i>View</a>
      {% comment %} <a href="#" class="btn btn-light border text-black-50 shadow-none" ><i class="fa fa-arrow-left"></i> Back</a> 
      <a style="width: 100px;" href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-print"></i> Print</a> {% endcomment %}
       <!-- <a href="#" class="btn btn-light border text-black-50 shadow-none" ><i class="fa fa-download"></i> Download</a>  -->
      </div>
  </footer>
</div>
<!-- Back to My Account Link -->
<p class="text-center d-print-none"><a href="#">&laquo; Back</a></p>

</body>
</html>